<h1>Restaurar contrase침a</h1>

<nav>
    <a href="/">Ir atr치s</a>
</nav>

<form id="restorePasswordForm">
    <div>
        <label for="email">Correo electr칩nico</label>
        <input type="email" id="email" name="email">
    </div>

    <div>
        <button type="submit">Restaurar contrase침a</button>
    </div>
</form>

<script src="/js/general/restore-password.js"></script>