<h1>Recuperar contraseña</h1>

<nav>
    <a href="/">Atrás</a>
</nav>

<form id="restoreForm">
    <div>
        <label for="email">Correo electrónico</label>
        <input type="email" id="email" name="email" required>
    </div>

    <div>
        <label for="password">Nueva contraseña</label>
        <input type="password" id="password" name="password" required>
    </div>

    <div>
        <button type="submit">Recuperar contraseña</button>
    </div>
</form>

<script src="/js/general/restore.js"></script>